<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gallery</h3>
  </div>
  <div class="panel-body">
    <% @medias.each do |media| %>
      <%= image_tag media.file.url(:thumb), size: "50" %>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to "All medias", medias_path %>
  </div>
</div>