<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Gallery</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gallery</h3>
  </div>
  <div class="panel-body">
    <% @medias.each do |media| %>
      <%= link_to image_tag(media.file.url(:thumb), size: "50", alt: media.title.capitalize), 
          media.file.url(:original), {
            :rel => "gallery", 
            :class => "fancybox"
          }
      %>
    <% end %>
  </div>
</div>