<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Gallery</li>
</ol>

<% @medias.each do |media| %>
  <%= link_to image_tag(media.file.url(:thumb), size: "50"), 
      media.file.url(:original), {
        :rel => "gallery", 
        :class => "fancybox", 
        "alt" => media.title
      }
  %>
<% end %>