<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Concerts", concerts_path %></li>
<!-- Render Pages navigation -->
<% generate_nav.each do |page| %>
    <li><%= link_to page.title.capitalize, page %></li>
<% end %>