<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active"><%= @page.title.capitalize %></li>
</ol>

<h1><%= @page.title.capitalize %></h1>
<p class="text-justify">
    <%= @page.content.html_safe %>
</p>