<h1>Listing concerts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concerts.each do |concert| %>
      <tr>
        <td><%= link_to 'Show', concert %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>