<ol class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Posts</li>
</ol>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Posts</h3>
  </div>
  <div class="panel-body">
    <% if !@posts.empty? %>
      <% @posts.each do |post| %>
        <h4><%= link_to post.title.capitalize, post %></h4>
        <%= post.created_at.strftime("%D") %>
        <hr>
      <% end %>
    <% else %>
      <i>No post yet</i>
    <% end %>
  </div>
</div>

<%= paginate @posts, :theme => 'twitter-bootstrap-3' %>